body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar h1 {
    font-size: 24px;
    color: #f9faf8;
}

.nav-bar li {
    font-size: 18px;
    color: #e5e7eb;
}

.nav-links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
}

.hero {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.hero button {
    border-radius: 12px;
    padding: 12px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-width: 0px;
}

.hero-info {
    max-width: 600px;
    
}

.hero-info h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0px;
}

.hero-info p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 400px;
    height: 200px;
    flex: none;
}

.information {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.information h1 {
    padding-top: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.card {
    max-width: 200px;
    min-width: 100px;
}

.card div {
    height: 100px;
    border-color: #3882f6;
    border-radius: 12px;
    border-style: solid;
    flex: auto;
}

.inspiration {
    padding: 60px 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
}

.inspiration p {
    padding: 0px 70px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.inspiration h1 {
    text-align: right;
    margin-top: 0px;
    padding-right: 70px;
}

.call-to-action {
    margin: 100px 20%;
    padding: 20px 100px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 12px;
    color: #F9FAF8;
}

.call-to-action h1 {
    margin-bottom: 0px;
}

.call-to-action p {
    margin-top: 0px;
}

.call-to-action button {
    border-radius: 12px;
    padding: 12px;
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    color: #e5e7eb;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    padding-top: 20px;
    padding-bottom: 20px;
}